{% extends 'base.html' %}

{% block content %}

{% for product in products.all %}

<div class="row">
    <div class="col-2 pt-3" onclick="window.location='{% url 'detail' product.id%}';" style="cursor: pointer;">
        <image src="{{product.icon.url}}" class="image-fluid" alt="image"></image>
    </div>
    <div class="col-6" onclick="window.location='{% url 'detail' product.id%}';" style="cursor: pointer;">
        <h1>{{product.title}}</h1>
        <p>{{product.summary}}</p>  
    </div>
    <div class="col-4">
        <a href="javascript:{document.getElementById('{{product.id}}').submit()}">
            <button class="btn btn-primary btn-large btn-block">
                <span class="oi oi-caret-top"> </span>
                Upvote {{product.votes_total}}
            </button>
        </a>
    </div>
</div>

<form id='{{product.id}}' method="POST" action="{% url 'upvote' product.id %}">
    {% csrf_token %}
    <input type="hidden">
</form>

{% endfor %}

{% endblock %}